html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea, label, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section, summary {
	margin: 0 auto;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-box-sizing:    border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing:         border-box;
}
  
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; }
  
.cf:before,
.cf:after {
  content: "";
  display: table; }
.cf:after { clear: both; }
.ie7 .cf { zoom: 1; }
 
input:-moz-placeholder     { opacity: 1; }
input::-moz-placeholder    { opacity: 1; }
select:-moz-placeholder    { opacity: 1; }
select::-moz-placeholder   { opacity: 1; }
textarea:-moz-placeholder  { opacity: 1; }
textarea::-moz-placeholder { opacity: 1; }

input, 
select { vertical-align: middle; }

input[type=checkbox],
input[type=radio] {
  box-shadow:         none;       
  -moz-box-shadow:    none;  
  -webkit-box-shadow: none;
}
  
input[type=checkbox] { 
  -moz-appearance:    checkbox;
  -webkit-appearance: checkbox; 
}
  
input[type=radio] {
  -moz-appearance:    radio;  
  -webkit-appearance: radio; 
}
