/*
Main Blue:   #363e5a
Orange:      #ec695c
Darker Blue  #
Gray:        #929292
Baby Blue:   #75b1cb
*/
html {
	font-family: 'Ubuntu', sans-serif;
	color: #929292;
	line-height: 1.2; 
	font-weight: 400;
	font-style: normal;
	font-size: 100%; 
	text-align: center;
}
body {
	background-image: url(http://localhost/texttomp3/footer-angle.svg);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 80% auto;
	min-height: 100vh;
	padding: 0 0 8em;	
}

@media only screen and (min-width: 740px) and (min-device-width: 480px) {
	body {	
		background-size: 60% auto;
		padding: 0 0 9em;	
	}
}

@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	body {	
		background-size: 40% auto;
		padding: 0 0 5em;			
	}
}
/* Global Links */

a {
	color: #ec695c;
	text-decoration: none; 
}
a:focus, 
a:hover {
	color: #363e5a;
	outline: none;
	text-decoration: none; 
}

/* Firefox Selected Text */

*::-moz-selection,
*::selection {
	background: #ec695c;
	color: #fff; 
}

@font-face {
  font-family: 'form-basics';
  src:  url('fonts/form-basics.eot?9dlf0v');
  src:  url('fonts/form-basics.eot?9dlf0v#iefix') format('embedded-opentype'),
    url('fonts/form-basics.woff2?9dlf0v') format('woff2'),
    url('fonts/form-basics.ttf?9dlf0v') format('truetype'),
    url('fonts/form-basics.woff?9dlf0v') format('woff'),
    url('fonts/form-basics.svg?9dlf0v#form-basics') format('svg');
  font-weight: normal;
  font-style: normal;
}

.form-icons {
  font-family: 'form-basics' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Headings - 400/700 */

h1, h2, h3 { 
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	line-height: 1;	
	margin-bottom: .5em;	
}
h1 {
	font-size: 220%;
	font-weight: 700;
}
h2 {
	color: #ec695c;
	font-size: 140%;
	font-weight: 700;	
}
h3 {
	color: #ec695c;
	font-size: 140%;
	margin-bottom: .65em;
}
h4 {
	color: #363e5a;
	font-size: 100%;
	font-weight: 600;
	margin-bottom: 1em;
}
.one-page .search-numbers h4 {
	margin-top: 1em;
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {
	h1 {
		font-size: 220%;
	}
	h2 {
		font-size: 150%;
	}
	h3 {
		font-size: 150%;
	}
	h4 {
		font-size: 100%;
	}	
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	h1 {
		font-size: 220%;
	}
	h2 {
		font-size: 180%;
	}
	h3 {
		font-size: 160%;
	}
	h4 {
		font-size: 100%;
	}
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	h1 {
		font-size: 220%;
	}
	h2 {
		font-size: 190%;
	}
	h3 {
		font-size: 170%;
	}
	h4 {
		font-size: 105%;
	}
}
@media only screen and (min-width: 1400px) and (min-device-width: 480px) {  
	h1 {
		font-size: 220%;
	}
	h2 {
		font-size: 200%;
	}
	h3 {
		font-size: 180%;
	}
	h4 {
		font-size: 110%;
	}
}

/* Text Elements */

p { 
	margin: 0 0 1em; 
}
small { 
	font-size: 80%; 
	display: block; 
}
strong { 
	font-weight: 600;
}

/*  Wrap */

.wrap {
	position: relative;
	z-index: 200;
	padding: 0 1em;
} 
@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
}

@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.wrap {
		max-width: 900px;
	}  
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.wrap {
		max-width: 1000px;
	} 
}
@media only screen and (min-width: 1400px) and (min-device-width: 480px) {  
	.wrap {
		max-width: 1200px;
	} 
}
/*  Header */

header {
	padding: 1em 0 0;
}
.product-selection header {
	max-width: 900px;
}
.logo {
	width: 8em;
	max-height: 5em;
}
.logo .orange-fill{
	fill: #EC695C;
}
.logo .purple-fill{
	fill: #363E5A;
}
.logo .white-fill{
	fill: #FFFFFF;
}
header h1 {
	font-size: 200%;
	color: #363e5a;
	text-transform: uppercase;
	line-height: .9;
	padding-top: .7em;
	margin-bottom: .15em;
}
header h1 em {
	color: #ec695c;
	font-style: normal;
}
header p {
	font-size: 100%;
	display: block;
	margin-bottom: .6em;
}

@media only screen and (min-width: 740px) and (min-device-width: 480px) { 
	.logo {
		width: 9em;
	}	
	header h1 {
		font-size: 220%;
	}	
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) { 
	header {
		padding-top: 2em;
	}	
	.logo {
		width: 10em;
		margin-bottom: 1.5rem;		
	}	
	header h1 {
		font-size: 280%;
		padding-top: 0;
	}	
	header p {
		font-size: 120%;
	}	
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.logo {
		width: 12em;
	}	
	header h1 {
		font-size: 300%;
	}		
}
@media only screen and (min-width: 1400px) and (min-device-width: 480px) {  
	.logo {
		width: 14em;
	}	
	header h1 {
		font-size: 400%;
	}		
}

/*  Footer */
footer {
	padding: 2em 0 0;
	font-size: 80%;
	line-height: 1.6;
}
footer a {
	display: inline-block;
	padding: 0 1em;
	transition:         color .3s ease-in-out;    
	-webkit-transition: color .3s ease-in-out;  
	-moz-transition:    color .3s ease-in-out;  
	-o-transition:      color .3s ease-in-out;  
	-ms-transition:     color .3s ease-in-out;   	
}

/*  Basic Structure */
.main > div { 
	padding: 1em;
	text-align: center;
}
.main .sales { 
	display: none;
}
section.step {
	padding-bottom: 2em;
}
section.step:last-of-type {
	padding-bottom: 0em;
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
	.main { 
		width: 100%;
		display: table;
		padding-top: 2em;
	}
	.main .sales { 
		display: table-cell;		
		width: 40%;		
		padding: 1em 1.5em 0 0;
	}
	.main .form { 
		display: table-cell;		
		width: 60%;
	}	
	.main.one-col { 
		width: 50%;
	}	
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.main .sales { 
		padding: 2em 3em 0 0;
	}
	.main.one-col { 
		width: 50%;
	}	
}

/*  Form Structure */
.box {
	background: #fff;
	padding: 2em 1em;
	-webkit-box-shadow: 0 0 2em 0 rgba(30,34,51,.1);
	-moz-box-shadow:    0 0 2em 0 rgba(30,34,51,.1);
	box-shadow:         0 0 2em 0 rgba(30,34,51,.1);
	-webkit-border-radius:  1em;
	-moz-border-radius:     1em;
	border-radius:          1em;		
}
.form .group {
	padding: 1em 0 0 0; 
}
.form .group.address,
.one-page .form .group {
	padding: 0 0 1em; 
}
.form .group.agreement {
	padding: 1em 0; 
}
.one-page .group.agreement {
	padding: 1em 0 0; 
}		
.form .field {
	display:  block;
	width: 100%;
	padding: .4em; 
	text-align: left;
}
.form .cols2,   
.form .cols3,
.form .cols4 { 
	padding: 0;
} 	
.form .fields.credit-details {
	width: 100%;
	display: table; 
	padding: 0;
	text-align: left;
}	
.form .fields.credit-details .field {
	width: 33.33%;
	display: table-cell; 
	vertical-align: bottom;		
}	

@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
	.form .group {
		padding: 0 0 0 1em; 
	}	
	.form .fields { 
		width: 100%;
		display:  table; 
		padding: 0;
	} 		
	.form .field { 
		display:  table-cell;
		width: 50%;
		padding: .5em;
	 }
	.form .field.phone input { 
		width: 50%;
	 }	
	.form .field.wide { 
		width: 100%;
	 }	
	.form .fields.three .field,
	.form .fields .field.third { 
		width: 33.33%; 
	}
	.form .fields.four .field,
	.form .fields .field.fourth { 
		width: 25%;
	}
	.form .group.agreement {
		padding: 1em 0 2em; 
	}
	.one-page .group.agreement {
		padding: 1em 0 1em; 
	}			
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.box {
		padding: 2em;	
	}
	.form .group {
		padding: 1em 0; 
	}	
	.form .field { 
		padding: .7em;
	 }	
	.form .group.agreement {
		padding: 1em 0 2.5em; 
	}
	.one-page .group.agreement {
		padding: 1em 0 1em; 
	}			

}
/*  Form Type */

.step-counter {
	font-size: 50%;
	color: #929292;
	font-weight: 300;
	text-transform: uppercase;
	display: block;
	margin-top: .5em;
}
@media only screen and (max-width: 740px) {  
	.search-numbers .or { 
		position: relative;
		margin-top: 1em;
		padding: 0 .5em;
		display: table;
	}	
	.search-numbers .or:before,
	.search-numbers .or:after{ 
		position: absolute;
		top: 49%;
		width: 2em;
		height: 1px;
		background: rgba(0,0,0,.3);
		content: "";
		display: block;
	}	
	.search-numbers .or:before { 
		left: 101%;
	}	
	.search-numbers .or:after { 
		right: 101%;
	}		
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
	.search-numbers h4 { 
		margin-bottom: .3em;
	}	
	.search-numbers .or { 
		vertical-align: bottom;
	}	
	.search-numbers em { 
		position: relative;
		top: 2.3em;
	}	
}
/*  Form Elements */


.form .radio { text-align: center; }

.form .option {
	display: block;
	padding: .3em 0;
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
  .form .option {
    display: inline-block;
    padding: 0;
	}
  .form .number-select .option {
    width: 46%;
  }	  
}
@media only screen and (min-width: 1400px) and (min-device-width: 480px) {  
	.form .number-select .option {
		width: 31%;
	}	  
}

.form .radio .option input,
.form .checkbox .option input,
.form .number-select .option input {
	display: none !important;
}

.form label {
	display: block;
	cursor: pointer;
	margin-bottom: .15em;
	transition:         color .3s ease-in-out;    
	-webkit-transition: color .3s ease-in-out;  
	-moz-transition:    color .3s ease-in-out;  
	-o-transition:      color .3s ease-in-out;  
	-ms-transition:     color .3s ease-in-out;   
}
.form label:hover {
	color: #363e5a;
}

.form input {
	background: #ebebee;
	font-family: 'Ubuntu', sans-serif;	
	width: 100%;
	font-size: 100%;
	font-weight: 300;
	color: #363e5a;	
	padding: .7em;
	cursor: pointer; 
	border: none;
	outline: none;
	-webkit-border-radius:  .6em;
	-moz-border-radius:     .6em;
	border-radius:          .6em;	
	transition:         background .3s ease-in-out, color .3s ease-in-out;    
	-webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
	-moz-transition:    background .3s ease-in-out, color .3s ease-in-out;
	-o-transition:      background .3s ease-in-out, color .3s ease-in-out;
	-ms-transition:     background .3s ease-in-out, color .3s ease-in-out; 
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {
}

@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.form input {
		font-size: 110%;
	}	
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.form input {
		padding: .8em;		
	}	
}


.form input:hover {
	background: #363e5a;
	color: #fff;
}
.form input:focus {
	background: #ebebee;
	color: #363e5a;
	-webkit-box-shadow: inset 0 0 1px 1px rgba(30,34,51,.5);
	-moz-box-shadow:    inset 0 0 1px 1px rgba(30,34,51,.5);
	box-shadow:         inset 0 0 1px 1px rgba(30,34,51,.5);	
}
form input:-moz-placeholder                 { opacity: 1; }
form input::-moz-placeholder                { opacity: 1; }
form input:-ms-input-placeholder            { color: #363e5a; }
form input::-webkit-input-placeholder       { color: #363e5a; }
form input:hover:-ms-input-placeholder      { color: #ffffff; }
form input:hover::-webkit-input-placeholder { color: #ffffff; }     
form input:focus:-ms-input-placeholder      { color: #363e5a; }
form input:focus::-webkit-input-placeholder { color: #363e5a; }  


/*  Form Selection Options */
.form .option input {
	display: none !important;
}
.form .option label { 
	padding-left: 1.8em;  
	cursor: pointer;
	display: block;
	transition:         color .3s ease-in-out;    
	-webkit-transition: color .3s ease-in-out;  
	-moz-transition:    color .3s ease-in-out;  
	-o-transition:      color .3s ease-in-out;  
	-ms-transition:     color .3s ease-in-out;   
}
.form .option .selector { 
	background: #ebebee;
	width: 1em;
	height: 1em;  
	margin-right: .2em;
	padding: .65em;
	line-height: 1.6;  
	font-style: normal;
	font-weight: 400;
	display: inline-block; 
	position: relative;
	top: .25em;
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;     
}
.form .checkbox .option .selector { 
	-webkit-border-radius:  .1em;
	-moz-border-radius:     .1em;
	border-radius:          .1em;
}
.form .radio .option .selector { 
	-webkit-border-radius:  50%;
	-moz-border-radius:     50%;
	border-radius:          50%;
}
.form .option .selector::before { 
	display: block; 
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 100;
	opacity: 0;
	font-size: 50%;  
	font-family: 'form-basics';  
	-moz-transform:    translateX(-50%) translateY(-50%);
	-ms-transform:     translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform:         translateX(-50%) translateY(-50%); 
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;    
}
.form .option input:checked + label .selector { 
	background: #ec695c;
}  
.form .option input:checked + label .selector::before { 
	font-size: 90%;
	opacity: 1;
	color: #fff;
}  

.form .checkbox .option .selector::before { 
	content:'-';  
}
.form .radio .option .selector::before { 
	content:'.';  
}
.form .option em { 
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-align: left;
}
.form .option em a { 
	transition:         color .3s ease-in-out;    
	-webkit-transition: color .3s ease-in-out;  
	-moz-transition:    color .3s ease-in-out;  
	-o-transition:      color .3s ease-in-out;  
	-ms-transition:     color .3s ease-in-out;  	
}
.number-select .option {
	margin: .25em;
}
.number-select .option label {
	background: #f0f0f2;
	color: #363e5a;
	text-align: center;
	padding: .7em 1em;	
	-webkit-border-radius:  .6em;
	-moz-border-radius:     .6em;
	border-radius:          .6em;	
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;    
}
.number-select .option:hover label {
  background: #1e2233;
  color: #fff;
}
.number-select .option input:checked + label { 
  background: #ec695c;
  color: #fff;
}
.number-select .more {
	color: #ec695c;
	text-transform: uppercase;
	display: inline-block;
	font-size: 80%;
	padding: .5em 1em;
	cursor: pointer;
	float: right;
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;  	
}
.number-select .more:hover {
	color: #363e5a;
}
@media only screen and (max-width: 550px) {  
	.form .checkbox .option .selector { 
		float: left;
	}
	.form .option em { 
		width: 85%;
		padding-left: .3em;
		padding-top: .2em;
		font-size: 90%;
	}	
}

/*  Tabs */

.tabs {
	padding-bottom: 1em;
}
.tabs > div {
	background: #363e5a;
	color: #fff;
	-webkit-border-radius:  1em;
	-moz-border-radius:     1em;
	border-radius:          1em;	
	margin: .2em;
	text-transform: uppercase;
	display: inline-block;
	padding: .7em .8em .8em;
	cursor: pointer;
	font-size: 65%;
}
.tabs > div em {
	display: none;
}
.tabs > div:hover {
	background: #ec695c;
	transition:         background .3s ease-in-out;    
	-webkit-transition: background .3s ease-in-out;  
	-moz-transition:    background .3s ease-in-out;  
	-o-transition:      background .3s ease-in-out;  
	-ms-transition:     background .3s ease-in-out; 	
}
.tabs > div.active {
	background: #ec695c;	
	cursor: auto;
	position: relative;
}
.tabs > div.active:after {
	top: 100%;
	right: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(236, 105, 92, 0);
	border-top-color: #ec695c;
	border-width: 8px;
	margin-left: -8px;
}
.tabs > div.active:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(236, 105, 92, 0);
	border-top-color: #ec695c;
	border-width: 8px;
	margin-left: -8px;
}
.tabs > div.active:first-child:after {
	right: 20%;
}
.tabs > div.active:last-child:after {
	left: 20%;
}
@media only screen and (min-width: 360px) and (min-device-width: 480px) {
	.tabs > div {
		padding: .4em .8em;	
		font-size: 80%;	
	}
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {
	.tabs > div {
		font-size: 90%;
	}	
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.tabs > div em {
		display: inline;
	}
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.tabs > div {
		font-size: 100%;
	}	
}
@media only screen and (min-width: 1400px) and (min-device-width: 480px) {  

}


/* Verification */

.reserved-number {
	color: #363e5a;
	font-weight: 600;
	font-size: 150%;
}
.verification-entry {
	display: table;
	padding: 2em;
}
.verification-entry .digit {
	display: table-cell;
	width: 3.5em;
	padding: .3em;
}
.verification-entry .digit input {
	text-align: center;
	font-weight: 700;
	font-sized: 180%;
}

/*  Buttons */

.form .buttons {
	text-align: center;
	padding-top: 1.5em;
}
.form .buttons button {
	background: #363e5a;
	cursor: pointer;	
	padding: .5em .7em;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 100%;
	-webkit-border-radius:  1em;
	-moz-border-radius:     1em;
	border-radius:          1em;	
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;  	
}

.form .buttons button:hover {
	background: #ec695c;
}

.form .buttons button.submit {
	background: #ec695c !important;	
}
.form .buttons button.submit:hover {
	background: #363e5a !important;
}
.form .buttons button.next {
	font-size: 130%;	
}
.form .buttons button.previous {
	background: transparent;
	color: #929292;
	font-size: 90%;
	font-weight: 300;
	margin-bottom: 1em;
}
.form .buttons button.previous:hover {
	color: #ec695c;
}
.form .buttons button .padlock {
	width: 1em;
	display: inline;
	float: left;
	max-height: 1em;
	fill: #ffb400;
	margin-right: .2em;
	position: relative;
	top: .1em;
}
.buttons em {
	text-transform: uppercase;
	padding-top: 1.5em;
	display: block;
	font-size: 80%;
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {
	.form .buttons button {
		font-size: 110%;
	}	
	.form .buttons button.previous {
		margin-right: 1em;
		margin-bottom: 0;
	}	
}

@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.form .buttons button {
		font-size: 120%;
	}
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.form .buttons button {
		font-size: 130%;
	}
}
@media only screen and (min-width: 1400px) and (min-device-width: 480px) {  
	.form .buttons button {
		font-size: 140%;
	}
}
		

/* Sales Logos */

.one-page .sales > div {
	padding-bottom: 10em;
	font-size: 80%;
}

.logos {}
.logos h2 em {
	display: block;
	line-height: 1.4;
}
.logos img {
	width: 24%;
	margin: .7em;
	max-height: 6em;
	display: inline-block;
	vertical-align: top;
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.logos img {
		margin: 1em;
	}
}
/* Sales Testimonials */

.testimonial blockquote {
	font-size: 140%;
	font-style: italic;
	line-height: 1.4;
	font-weight: 200;
}
.testimonial blockquote cite {
	font-size: 50%;
	display: block;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-style: normal;	
	font-weight: 400;
	line-height: 1.2;
	padding-top: 2em;
}
.testimonial blockquote cite img {
	width: 4em;
	height: 4em;
	margin-bottom: .6em;
	-webkit-border-radius:  50%;
	-moz-border-radius:     50%;
	border-radius:          50%;
}
.testimonial blockquote cite strong {
	display: block;
	font-weight: 400;
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
	.testimonial blockquote {
		font-size: 130%;
	}
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.testimonial blockquote {
		font-size: 160%;
	}
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.testimonial blockquote {
		font-size: 170%;
		line-height: 1.6;
	}
}
/* Sales Partner */

.partner {
	font-weight: 200;
}
.partner > div {
	padding: 1em 0;
}
.partner span {
	font-size: 150%;
	font-style: italic;
}

.partner .voice-nation span {
	display: inline-block;
	vertical-align: middle;
	padding-right: .3em;
	
}
.partner .voice-nation img {
	display: inline-block;
	vertical-align: middle;
	max-width: 10em;
}

.partner .open-answer span {
	display: block;
	margin-bottom: .3em;
}
.partner .open-answer img {
	max-width: 13em;
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
	.partner span {
		font-size: 130%;
	}
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.partner span {
		font-size: 150%;
	}
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.partner span {
		font-size: 170%;
	}	
	.partner .voice-nation img {
		max-width: 12em;
	}
	.partner .open-answer img {
		max-width: 18em;
	}
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.partner span {
		font-size: 190%;
	}	
}


/* Select Product */

.select-product {
	display: block;
	max-width: 1200px;
}
.product {
	background: #fff;
	display: block;
	padding: 2em 1em;
	margin: 2em 0;
	position: relative;
	-webkit-box-shadow: 0 0 2em 0 rgba(30,34,51,.1);
	-moz-box-shadow:    0 0 2em 0 rgba(30,34,51,.1);
	box-shadow:         0 0 2em 0 rgba(30,34,51,.1);
	-webkit-border-radius:  1em;
	-moz-border-radius:     1em;
	border-radius:          1em;	
	transition:         box-shadow .3s ease-in-out;    
	-webkit-transition: box-shadow .3s ease-in-out;  
	-moz-transition:    box-shadow .3s ease-in-out;  
	-o-transition:      box-shadow .3s ease-in-out;  
	-ms-transition:     box-shadow .3s ease-in-out;	
}	
.select-product .product:hover {
	z-index: 101;
	-webkit-box-shadow: 0 0 3em 0 rgba(30,34,51,.3);
	-moz-box-shadow:    0 0 3em 0 rgba(30,34,51,.3);
	box-shadow:         0 0 3em 0 rgba(30,34,51,.3);
}	
.product.purple {
	padding-top: 4em;
	z-index: 100;
	margin-top: 4em;
}
.product h3 {
	margin-bottom: 0;
}
.product h4 {
	font-weight: 500;
}
.product.purple .icon {
	width: 5em;
	min-height: 7em;
	position: absolute;
	left: 50%;
	top: 0;
	-moz-transform:    translateX(-50%) translateY(-50%);
	-ms-transform:     translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform:         translateX(-50%) translateY(-50%); 	
}
.product.purple .icon * {
	transition:         fill .2s ease-in-out;    
	-webkit-transition: fill .2s ease-in-out;  
	-moz-transition:    fill .2s ease-in-out;  
	-o-transition:      fill .2s ease-in-out;  
	-ms-transition:     fill .2s ease-in-out;
}
.product .icon .orange-fill {
	fill: #EC695C;
}
.product:hover .icon .orange-fill {
	fill: #363E5A;
}
.product .icon .purple-fill {
	fill: #363E5A;	
}
.product:hover .icon .purple-fill {
	fill: #EC695C;	
}
.product .icon .white-fill {
	fill: #FFFFFF;
}
.product .price {
	padding: .5em 0 1.5em;
}
.product .price strong {
	color: #EC695C;
	font-size: 300%;
}
.product .price small {
	text-transform: uppercase;
	font-size: .8em;
}
.product a.button {
	background: #ec695c;
	cursor: pointer;	
	padding: .5em .7em;
	margin: .4em auto 1em;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 140%;
	-webkit-border-radius:  1em;
	-moz-border-radius:     1em;
	border-radius:          1em;	
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;  	
}
.product a.button:hover {
	background: #363e5a;
}
.product ul {
	list-style: none;
	text-align: left;
	padding: 0 .5em;
}
.product li {
	padding: .4em 0em .4em 1.1em;
	position: relative;
	font-size: 85%;
}
.product li:before {
	background: no-repeat url(img/arrow.svg) top left;
	width: 10px;
	height: 10px;
	display: block;
	content:"";
	position: absolute;
	left: 0;
	top: 8px;	
}
@media only screen and (min-width: 740px) and (min-device-width: 480px) {  
	.select-product {
		padding-top: 4em;
	}
	.product {
		display: inline-block;
		float: left;
		width: 33.33%;
		vertical-align: middle;
		margin: 0;
	}	
	.product.purple {
		margin-top: 0;
		padding-top: 4em;
		padding-bottom: 4em;		
	}		
	.select-product .product:first-child {
		-webkit-border-radius:  1em 0 0 1em;
		-moz-border-radius:     1em 0 0 1em;
		border-radius:          1em 0 0 1em;
	}
	.select-product .product:last-child {
		-webkit-border-radius:  0 1em 1em 0;
		-moz-border-radius:     0 1em 1em 0;
		border-radius:          0 1em 1em 0;
	}	
	.select-product .product:first-child,
	.select-product .product:last-child {
		margin-top: 1em;
	}		
	.product a.button {
		font-size: 120%;
	}	
	.product:last-child ul {
		padding-bottom: 1.5em;
	}		
}
@media only screen and (min-width: 1000px) and (min-device-width: 480px) {  
	.select-product .product {
		padding: 3em;
	}	
	.product.purple {
		padding-top: 4em;
		padding-bottom: 4em;
	}		
	.product a.button {
		font-size: 120%;
	}
	.product ul {
		padding: 0;		
	  -webkit-columns: 2;
		 -moz-columns: 2;
			  columns: 2;
	}	
	.product li {
		display: inline-block;
		font-size: 75%;
	}		
}
@media only screen and (min-width: 1200px) and (min-device-width: 480px) {  
	.product a.button {
		font-size: 130%;
	}
	.product li {
		font-size: 90%;
	}			
}
@media only screen and (min-width: 1400px) and (min-device-width: 480px) {  
	.product a.button {
		font-size: 140%;
	}
}


