/**
Theme Name: Ninja Number
Author: Adam Clark
Author URI: http://avclark.com
Description: Custom WordPress theme for NinjaNumber.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ninja-number
Template: astra
*/

/* Form */

html, body {
    height: auto;    
}

.closebtn {
	display:none;
	cursor:pointer;
}



body.modal-open {
  position: fixed;
}

#loadingBlackout {
	width:100%; 
	height:100%; 
	background:#000; 
	z-index:999999999999 !important;
	
	position:fixed; 
	top:0;
	display:none;
}

.contact-form li{
	list-style: none;
}

.site {
	overflow: visible !important;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.terms_1 {
	font-size: 1.5rem;
}

.agreement {
	font-size:1rem;
	font-weight: bold;
	text-align: left !important;
}

.whitetext {
	color:#fff;
}

.section_heading {
	text-align:left;
	font-size:1.6rem !important;
	margin: 40px 0 40px 20px;
}

.numbered-text {
	font-size:1.8em !important;
	font-weight: bold !important;
	line-height: 1.2em !important; 
}

.uppercase {
	font-size:1.8em !important;
	font-weight: bold !important;
	line-height: 1.2em !important;
	text-transform:uppercase !important;
}

.tagline {
	font-size:2em !important;
	line-height:1.1em !important;
	font-family: "proxima-nova", sans-serif;
    color: #fff;
    text-transform: none !important;
	font-weight:500;
	
}

.tagline span {
	color:#363e5a;
	font-weight:bold;
}

label.error {
	width:1200px !important;
	border:none;
	color:red !important;
	display:block;
	padding:0;
}

.form_wrap {
	width:100%;
	float:left;
	position:absolute;
	top:0;
}

#myNav button {
	background: #DB7062;
	padding: 14px 40px;
	width:100%;
	border-radius: 3px;
	font-size:1rem;
}

#state, #how, #select_plan {
	height:44px;
}

.TrialOrderSummary th {
	padding-left:24px;
}

.white-text {
	color: white !important;	
}

.countdown {
	color: #b7685b;
	margin-bottom:20px;
}

#myNav button:hover {
	background: #b7685b;
}

.block_wrap, .form_row {
	width:1200px;
	margin:0 auto;
	margin-top:40px !important;
	display:block;
}

.form_col {
	width: 33.33% !important;
	padding: 0 20px;
	margin-bottom:20px;
	float:left;
	list-style:none;
		
}

.form_col_100 {
	width: 100% !important;
	padding: 0 20px;
	margin-bottom:20px;
	float:left;
	list-style:none;
	
}

.form_col_50 {
	width: 50% !important;
	padding: 0 20px;
	margin-bottom:20px;
	float:left;
	list-style:none;	
}

.form_col_25 {
	width: 25% !important;
	padding: 0 20px;
	margin-bottom:20px;
	float:left;
	list-style:none;	
}

.form_col input, .form_col_25 input {
	width: 100% !important;	
}

.form_col li{
	margin-top:20px;
}

@media screen and (max-width: 1212px) {
	
	.closebtn {
		display:none !important;
	}
	
	
	label.error {
		width:800px !important;
		border:none;
		color:red !important;
	}
	
	.block_wrap, .form_row {
		width:800px;
		margin:0 auto;
		margin-top:40px;
	}
	.form_col {
		width: 50% !important;		
		float:left;
		list-style:none;
		
	}
}

@media screen and (max-width: 800px) {
	
	#congrats_copy {
	font-size:1rem;
	width: 100% !important;
	margin: 0 auto !important;
	}
	
	.terms_1 {
		font-size: 1rem;
	}
	
	.terms_1 a {
		font-size: 1rem !important;
	}
	
	#done_back, .overlay_back {
		display:none;
	}
	
	 .closebtn {
		display:block !important;
		
	}
	
	.form_row {
		overflow: scroll;
	}
	
	label.error {
		width:400px !important;
		border:none;
		color:red !important;
	}
	
	.block_wrap, .form_row {
		width:400px;
		margin:0 auto;
		margin-top:40px;
	}
	.form_col {
    	width: 90% !important;
    	float: left;
    	list-style: none;
	}
	
	.form_col_100 {
    	width: 80% !important;
    	float: left;
    	list-style: none;
	}
	
	.form_col_50 {
    	width: 70% !important;
    	float: left;
    	list-style: none;
	}
	
	
	.overlay .fl-heading-text,.fl-heading-text {	
		font-size: 1.5rem !important;
	}
	
	.fl-rich-text h1 {
		font-size:2rem !important;
	}
	
	.tagline {
		padding:20px 0 0 0 !important;
		font-size:1.3rem !important;
	}
	
	.circle {
		display: none !important;
	}
	
	#overlay_strip {
		padding:40px !important;
	}
	
	#overlay_header {
		font-size: 1.1rem !important;
		margin-bottom:0 !important;
	}
	
	input[type=email], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
    	padding: .5em;
	}
	
	.ast-header-break-point .main-header-bar-wrap .main-header-bar .site-branding {
    	padding: 10px;
	}
	 
}

/* Comparison Table */

.white-belt-header {
	
}

.black-belt-header, .black-belt {
	color:#000;
	border: 1px solid #000;
}

.purple-belt-header, .purple-belt {
	color:purple;
	border: 1px solid purple;
}




/* End Comparison */

.fine-print-1 {
	line-height:1rem;
}

#verify_form {
	
}

#verify_form li {
	list-style: none;
	padding-bottom: 20px;
}

.terms {
	font-size:0.8rem !important;	
}

.terms a {
/* 	font-size:1rem !important; */
	color: #cc7566;
}



#basics_form, #area_code_form, #summary_form, #overlay_verify_form, #congrats_form, #cc_form {
	display:none;
}
	/* #basics_form2, #personal_form2, #area_code_form2 {
display:none;
} */

#basics_form2 {
	display:none;
}

#form_two {
	display: none;
}

#form_three {
	display: none;
}

#form_four {
	display: none;
}

#form_five {
	display: none;
}

#form_six {
	display: none;
}

#form_seven {
	display: none;
}


.number-select .option {
	margin: .25em;
}
.number-select .option label {
	background: #f0f0f2;
	color: #363e5a;
	text-align: center;
	padding: .7em 1em;	
	-webkit-border-radius:  .6em;
	-moz-border-radius:     .6em;
	border-radius:          .6em;	
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;    
}

.number-select .option:hover label {
  background: #1e2233;
  color: #fff;
}
.number-select .option input:checked + label { 
  background: #ec695c;
  color: #fff;
}

.number-select .more {
	color: #ec695c;
	text-transform: uppercase;
	display: inline-block;
	font-size: 80%;
	padding: .5em 1em;
	cursor: pointer;
	float: right;
	transition:         all .3s ease-in-out;    
	-webkit-transition: all .3s ease-in-out;  
	-moz-transition:    all .3s ease-in-out;  
	-o-transition:      all .3s ease-in-out;  
	-ms-transition:     all .3s ease-in-out;  	
}

.number-select .more:hover {
	color: #363e5a;

}






#card_number {
	padding-left: 60px;
	background: url('https://ninjanumber.com/wp-content/uploads/2018/03/blank_card.png');
	background-repeat:no-repeat;
	background-size: auto 30px;
	background-position: 5px 6px;
}

#summary_form, #congrats_form {
/* 	position:absolute; */
/* 	top:0 !important; */
}

#congrats_copy {
	font-size:1rem;
	width: 50% !important;
	margin: 0 auto !important;
}

#gotodash {
	width: 50% !important;
}

.preloader {
	display:none;
    width: 300px;
      

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	z-index:999999999;
}


.step_icon img {
	height:132.67px;
	padding:20px;
}

.step_instr {
	font-size: 1rem !important;
}

.trial_form input{
/* 	width: 100%; */
}

.trial_form p.col{
	float:left;
	margin-right:20px;
}

.trial_form select{
	width: 100% !important;
	height: 44px;
}

.trial_form label{
	font-size: 1rem;
}

.trial_form h5 {
	font-size: 1.5rem;
}

.trial_form input::-webkit-outer-spin-button,
.trial_form input::-webkit-inner-spin-button {    
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#basics_form input{
	width:250px;
}

#basics_form label{
	
}

#basics_form2 input{
	width:250px;
}

#basics_form2 label{
	
}



.step {
	text-align:center !important;
	margin:0 auto !important;
}

.step_icon {
	text-align:center;
}

.oneline:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: cadetblue;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.oneline:hover:after {
  background-color: goldenrod;
}

.oneline div {
  float: left;
  width: 100%;
  padding-top: 50%;
  line-height: 1em;
  margin-top: -1.7em;
  text-align: center;
  color: white;
}
.oneline p {
  text-align: center;
  font-size: 1.2em;
}

.circle {
  position:relative;
  float:right;
  padding:0;
  margin:0;
  display:block;
  width:75px;
  height: 75px;
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  line-height: 75px;
  text-align: center;
  background: #DB7062;
	
  
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(30,34,50); /* Black fallback color */
    background-color: rgba(255,255,255, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#overlay_header {
	font-size: 2rem;
	margin-bottom: 20px;
	margin-top:2%;
	line-height:2rem;
	color: #ec695c !important;
	text-align:center;
}

#overlay_strip {
	width:100%;
	padding:80px;
	background-image: url(https://ninjanumber.com/wp-content/uploads/2018/01/bg-about-1024x231.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

#overlay_body {
	margin:0 auto;
}

.overlay-btn {
	width:192px !important;
}

.number {
	width:265px;
	padding:5px;
	margin:5px;	
	cursor:pointer;
	float:left;
}


.center {
	text-align:center;
	margin:0 auto;
}

#animation_wrap {
	width:50%;
	margin:0 auto !important;
}

.number:hover {
	background: #CC7566;
	color: #fff;
}

#selected_number {
	display:none;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 10px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
/*     padding: 8px; */
    text-decoration: none;
/*     font-size: 36px;    */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay #closeOverlay {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
	padding: 10px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay #closeOverlay {
        font-size: 30px;
        top: 15px;
        right: 35px;
		padding:10px;
    }	
	
}

/* Trial Steps */
.step {
	border: 1px solid #e6e6e6;
	text-align:center;
	padding:33px 5px;
/* 	height: 330px; */
}

.step h2{
	font-size:1rem;
	font-weight:normal;
}

.number_wrap {
    font-weight:bolder;
	padding-left:16px;
}
.number_wrap li {
	padding-bottom: 16px;
}
.number_wrap span {
            font-weight: normal;
          }
.number_wrap dl {
	font-weight: normal;
	margin-top: 16px;
}


/* Plan Comparison */
.visible-xs {
  display: none;
}

#plan-comparison {
	
}

#plan-comparison td {
  text-align:center;
}

@media screen and (max-width: 768px) {
  .visible-xs {
    display: table-row;
    text-align:center;
  }

  #plan-comparison td:first-child,
  #plan-comparison th:first-child {
    display: none;
    text-align:center;
  }
	

	.form_col_25 {
	width: 100% !important;
	padding: 0 20px;
	margin-bottom:20px;
	float:left;
	list-style:none;	
}
	
	
}

/* iOS caret fix? */
@media
only screen /* iPhone X */
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3),
only screen /* iPhone 8 */
and (device-width : 375px) 
and (device-height : 667px) 
and (-webkit-device-pixel-ratio : 2),
only screen /* iPhone 8 Plus */
and (device-width : 414px) 
and (device-height : 736px) 
and (-webkit-device-pixel-ratio : 3),
only screen /* iPhone 7 */
and (min-device-width : 375px)
and (max-device-width : 667px), 
only screen /* iPhone 7 Plus */
and (min-device-width : 414px)
and (max-device-width : 736px),
only screen /* iPhone 6 */
and (min-device-width : 375px) 
and (max-device-width : 667px),
only screen /* iPhone 6 Plus */
and (min-device-width : 414px) 
and (max-device-width : 736px),
only screen /* iPhone 5 & 5S */
and (min-device-width : 320px) 
and (max-device-width : 568px),
only screen /* iPad */
and (min-device-width : 768px) 
and (max-device-width : 1024px),
only screen /* iPad 3 and 4 */
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2),
only screen /* iPad 1 and 2 */
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1),
only screen /* iPad Mini */
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) { 
html,body {
-webkit-overflow-scrolling : touch !important;
overflow: auto !important;
height: 100% !important;
}
}
